/* VARIABLES */
:root {
    --blue: #0077c5;
}

/* GLOBAL SETTINGS */
body {
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #505050;
    letter-spacing: 0.2px;
    background: #eceef1;
}
a {
    text-decoration: none;
    color: var(--blue);
}
p {
    margin: 0;
}
button {
    background-color: var(--blue);
    border: none;
    border: 1px solid #4c4c4c;
    border-radius: 4px;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    font-family: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
button .lock {
    display: block;
    width: 16px;
    height: 14px;
    background-image: url(images/lock.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
}
.blue {
    color: var(--blue);
    font-size: 12px;
}

/* TOP BAR */
#top-bar {
    display: flex;
    justify-content: flex-end;
    padding: 10px 30px;
}
#sign-in {
    width: 290px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#sign-in button {
    width: 103px;
    height: 34px;
    font-size: 13.5px;
}
#sign-in p {
    margin: 0;
    font-size: 12px;
}
#sign-in p:first-child {
    margin-bottom: 2px;
}

/* GLOBAL WRAPPER */
.wrapper {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

/* TITLE */
#logo {
    width: 118px;
    height: 35px;
    padding-bottom: 20px;
}
#title {
    padding: 30px 0 0 0;
    text-align: center;
}
#icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 23px;
}
#icons .image {
    width: 23px;
    height: 23px;
    margin-right: 3px;
}
.icon-text {
    display: flex;
    align-items: center;
    margin: 0 6px;
}
.icon-text span {
    font-size: larger;
    color: #7e7e7e;
}

/* SIGNUP */
#signup {
    margin: 0 auto;
    width: 320px;
    border: 1px solid #c7c7c7;
    border-radius: 2px;
    padding: 30px;
    height: 80%;
    background-color: #fff;
}
#signup h1 {
    color: #4c4c4c;
    font-weight: 400;
    line-height: 1.1;
    font-size: 24px;
    margin: 0;
}
#disc {
    font-size: 14px;
    padding-top: 20px;
}
#signup-form {
    display: flex;
    flex-direction: column;
}
#sign-header {
    padding-bottom: 20px;
}
.input-label {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    margin-bottom: 30px;
}
.input-label label {
    padding-bottom: 12px;
    font-size: 14px;
}
.input-label input {
    height: 33px;
    padding: 0 6px 0 8px;
    border: 1px solid #c1c5c8;
    border-radius: 3px;
}
.input-label input:focus {
    border: 1px solid #52a8ec;
    outline: 0 none;
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
}
#small {
    font-size: 10px;
    padding: 5px 0;
}
#signup-form button {
    width: 318px;
    height: 44px;
    padding: 6px 12px;
    margin-bottom: 40px;
    border-color: var(--blue);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.75);
}
#bottom-text {
    font-size: 12px;
    font-style: italic;
    color: #757575;
    line-height: 1.5;
    text-align: center;
}
#recap {
    padding: 16px;
    font-size: 10px;
    margin: 32px -30px -30px -30px;
    background: #eceef1;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px 0;
    font-size: 12px;
}
footer p {
    margin: 5px auto;
}
#links a {
    color: #505050;
}
#links a:nth-child(2),
#links a:last-child {
    padding-left: 10px;
}
