body {
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #505050;
}

p {
    margin: 0;
}
button {
    background-color: #0077c5;
    border: none;
    border: 1px solid #4c4c4c;
    border-radius: 4px;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    font-family: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
button .lock {
    display: block;
    width: 16px;
    height: 14px;
    background-image: url(images/lock.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
}

.blue {
    color: #0077c5;
}

#top-bar {
    display: flex;
    justify-content: flex-end;
    padding: 10px 30px;
}

#sign-in {
    width: 290px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#sign-in button {
    width: 103px;
    height: 34px;
}

#sign-in p {
    margin: 0;
    font-size: 12px;
}

#sign-in p:first-child {
    margin-bottom: 2px;
}

.wrapper {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

#title{
    padding: 30px 0 0 0;
}

#logo{
    width: 118px;
    height: 35px;
}

#icons{
    display: flex;
    justify-content: center;
    align-items: center;

}
#icons .image{
    width: 23px;
    height: 23px;
}

.icon-text{
    display: flex;
    align-items: center;
}

.wrapper{
    width: 380px;
    border: 1px solid #c7c7c7;
    padding: 30px;
}

#signup h1{
    
    color: #4C4C4C;
    font-weight: 400;
    line-height: 1.1;
    font-size: 24px;
}